.yntyc { 
  padding-right: 77px;
  border-bottom-width: 40px;
  border-left-width: 69px;
  border-bottom-width: 71px;
  padding-top: 96px;
  line-height: 48px;
  margin-top: 57px;
  margin-bottom: 93px;
  border-right-width: 56px;
}
